<div class="form-group">
  <label class="text-primary">Select Type of Services Included</label>
  <div class="checkbox">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime1" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 1
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime2" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 2
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime3" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 3
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime4" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 4
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime5" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 5
            </label>
          </div>
          <div class="col-md-6 col-xs-6">
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime6" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 6
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime7" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 7
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime8" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 8
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime9" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 9
            </label>
            <label class="display-block">
              <input type="checkbox" ng-model="oneAtATime10" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Type 10
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
