.slider-image
  width 20%
  padding 0 5px

.carousel-control.right 
  right -50px !important
  background none !important
  span
    color #0c9cff !important

.carousel-control.left
  left -50px !important
  background none !important
  span
    color #0c9cff !important